@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin&display=swap");

:root {
  --bs-gutter-x: 0px;
}

*,
*::before,
*::after {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
}

/* HEADER */

/* #region */

.myheader-img {
  background: url("/img/header/bg.jpg") no-repeat, rgba(198, 108, 73, 0.3);
  background-size: cover;
}

.myheader-content {
  padding-top: 93px;
  padding-left: 165px;
  padding-right: 165px;
  padding-bottom: 240px;
  color: #fff;
}
.nav-item {
  margin-right: 60px;
}
.nav-item:last-child {
  margin-right: 0;
}
.landing {
  margin-top: 145px;
}

.landing > h1 {
  font-size: 64px;
  line-height: 78px;
}

.landing > p {
  margin-top: 26px;
  font-size: 24px;
  line-height: 29px;
}

.worklink {
  margin-top: 106px;
}
.worklink > a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #ffffff;
}

/* #endregion */

/* MAIN BLOCK */

/* #region */

/* .main-about-section */
/* #region */
.main-about-section {
  padding-top: 93px;
  padding-bottom: 115px;
  padding-right: 165px;
  padding-left: 165px;
  color: #333333;
}

.main-about-section > h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 76px;
}

.main-about-section > p {
  font-size: 18px;
  line-height: 30px;
  text-align: justify;
}
/* #endregion */

/* .main-skills-section */
/* #region */
.main-skills-section {
  background: #fffaf2;
  padding-top: 93px;
  padding-bottom: 145px;
  padding-left: 165px;
  padding-right: 165px;
}

.main-skills-section > h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 76px;
}

.profile {
  height: 340px;
  width: 350px;
}

.skills-profile {
  margin-bottom: 65px;
}

.progress {
  height: 24px;
  padding: 0;
  background: #f5d6ab;
}

.progress-bar {
  background: #c66c49;
}

.skill {
  margin-bottom: 20px;
}
.skill:last-child {
  margin-bottom: 0;
}
/* #endregion */

/* .main-portfolio-section */
/* #region */
.main-portfolio-section {
  background: #ffffff;
  padding-top: 93px;
  padding-bottom: 145px;
  padding-left: 165px;
  padding-right: 165px;
}
.main-portfolio-section > h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}

.flex-column {
  min-width: 144px;
}
.img-fluid {
  margin: 15px;
}

.gallery {
  margin-top: 86px;
}

.gallery-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  margin-bottom: 48px;
}

.gallery-switch {
  margin-top: 235px;
}

.gallery-switch > img {
  margin-left: 14px;
}

/* #endregion */

/* #endregion */

/* FOOTER */

/* #region */
.footer {
  background: #fffaf2;
  padding-top: 93px;
  padding-left: 165px;
  padding-right: 347px;
  padding-bottom: 189px;
}

.footer > h1 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin-bottom: 51px;
}
.flex-column > a {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #333333;
  margin-bottom: 14px;
}
.flex-column > a:last-child {
  margin-bottom: 0;
}
.contacts {
  margin-bottom: 95px;
}
/* #endregion */
