@media screen and (max-width: 812px) {
  h1,
  p {
    text-align: center;
  }

  .myheader-content {
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 32px;
    padding-bottom: 25px;
  }
  .nav-button {
    background: url("../img/navbutton.svg");
    margin-right: 71px;
    width: 24px;
    height: 24px;
  }
  .navbar-nav {
    display: none;
  }
  .nav-item {
    margin-right: 0px;
  }
  .nav-item:last-child {
    margin-right: 0;
  }
  .landing {
    margin-top: 50px;
  }
  .landing > h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
  }
  .landing > p {
    font-size: 13px;
    line-height: 16px;
  }
  .worklink {
    margin-top: 41px;
    text-align: center;
  }
  .worklink > a {
    font-size: 13px;
    line-height: 16px;
  }
  .main-about-section {
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 32px;
    padding-bottom: 25px;
  }
  .main-about-section > h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 19px;
  }
  .main-about-section > p {
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
  }
  .main-skills-section {
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 32px;
    padding-bottom: 25px;
  }
  .main-skills-section > h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
  }
  .profile {
    height: 224px;
    width: 218px;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .skills-profile {
    margin-top: 25px;
    margin-bottom: 31px;
  }
  .skills-profile > h5 {
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
  }
  .skills-profile > p {
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
  }
  .skill > h5 {
    font-weight: 600;
    font-size: 12px;
    line-height: 25px;
  }
  .skill > p {
    font-size: 12px;
    line-height: 25px;
  }
  .progress {
    height: 18px;
    padding: 0;
    background: #f5d6ab;
  }
  .progress-bar {
    background: #c66c49;
  }
  .skill {
    margin-bottom: 20px;
  }
  .skill:last-child {
    margin-bottom: 0;
  }

  .main-portfolio-section {
    padding-top: 25px;
    padding-left: 34px;
    padding-right: 33px;
    padding-bottom: 25px;
  }
  .main-portfolio-section > h1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  .flex-column {
    min-width: 120px;
  }
  .img-fluid {
    margin: 12px;
  }
  .gallery {
    margin-top: 19px;
  }
  .gallery-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 15px;
  }
  .gallery-description {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    margin: 0;
  }
  .gallery-switch {
    margin: 0;
  }
  .gallery-switch > img {
    width: 0;
    height: 0;
  }
  .footer {
    padding-top: 25px;
    padding-left: 42px;
    padding-right: 32px;
    padding-bottom: 50px;
  }
  .footer > h1 {
    font-weight: bold;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 25px;
  }
  .flex-column > a {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 19px;
  }
  .flex-column > a:last-child {
    margin-bottom: 0;
  }
  .contacts {
    margin-bottom: 15px;
  }
  .contact-links {
    margin-top: 30px;
  }
}
